body {
    background-color: #ffffff;
}
.card {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color: #004080;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.section-divider {
    font-weight: bold;
    color: #004080;
    border-bottom: 2px solid #004080;
    padding-bottom: 5px;
    margin-bottom: 15px;
}